{{define "indexPOST"}}
<!DOCTYPE html>
<html lang="ru">

<head>
    {{template "head"}}
    <title>{{.Title}}</title>
</head>

<body>
    <div class="uk-container uk-width-5-6">
        <!-- HEADER -->
        {{template "header"}}
        <!-- CONTENT -->
        <div class="uk-text-center" uk-grid>
            <div class="uk-width-1-5">
                <div class="uk-card uk-card-default uk-card-body">Left</div>
            </div>
            <div class="uk-width-3-5">
                <div class="uk-card uk-card-default uk-card-body">
                    {{template "postscontent" .Posts}}
                </div>
            </div>
            <div class="uk-width-1-5">
                <div class="uk-card uk-card-default uk-card-body">Right</div>
            </div>
        </div>
        <!-- FOOTER -->
        {{template "footer"}}
    </div>
</body>

</html>
{{end}}

{{define "postscontent"}}
{{range .}}
<div class="uk-card uk-card-default uk-width-1-1@m uk-padding-small uk-margin">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                {{.Author.Name}}
                <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{.Title}}</h3>
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">{{.CreatedAt}} - April
                        01, 2016</time></p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <div>{{.Content}}</div>
    </div>
    <div class="uk-card-footer">
        <a href="/posts/{{.ID}}" class="uk-button uk-button-text">Read more</a>
    </div>
</div>
{{end}}
{{end}}