{{define "indexEditPOST"}}
<!DOCTYPE html>
<html lang="ru">

<head>
    {{template "head"}}
    <title>{{.Title}}</title>
</head>

<body>
    <div class="uk-container uk-width-5-6">
        <!-- HEADER -->
        {{template "header"}}
        <!-- CONTENT -->
        <div class="uk-text-center" uk-grid>
            <div class="uk-width-1-5">
                <div class="uk-card uk-card-default uk-card-body">Left</div>
            </div>
            <div class="uk-width-3-5">
                <div class="uk-card uk-card-default uk-card-body">
                    {{template "editPost" .Post}}
                </div>
            </div>
            <div class="uk-width-1-5">
                <div class="uk-card uk-card-default uk-card-body">Right</div>
            </div>
        </div>
        <!-- FOOTER -->
        {{template "footer"}}
    </div>
</body>

</html>
{{end}}


{{define "editPost"}}
<div class="post_form_edit" post-id="{{.ID}}">
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Редактирование статьи</legend>

        <div class="uk-margin">
            <input class="uk-input post_title_edit" name="title" type="text" placeholder="Тема статьи" value="{{.Title}}">
        </div>

        <div class="uk-margin">
            <select class="uk-select post_rubric_edit" name="rubric">
                <option value="00000000-0000-0000-00000000">Go for fun</option>
                <option value="00000000-0000-0000-00000001">Go for cry</option>
            </select>
        </div>

        <div class="uk-margin">
            <textarea class="uk-textarea post_content_edit" rows="10" placeholder="blog content" name="content">{{.Content}}</textarea>
        </div>

    </fieldset>
    <button class="uk-button uk-button-default saveeditpost" task-id="{{.ID}}">Save</button>
</div>
{{end}}